fastapi
uvicorn
pydantic
python-dotenv
langchain-openai
langchain-core
langchain-community
langgraph
typing-extensions
google-auth
faiss-cpu
google-cloud-speech
python-multipart
openai
bournemouth-forced-aligner
torch
torchaudio
torchcodec